button.adham-btn {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid #e0e0e0;
    background: #49007c;
    color: #e0e0e0;
    margin: 0px 5px;
    cursor: pointer;
}

button.adham-btn:hover {
    background: #e0e0e0;
    color: #49007c;
}

button.adham-btn:active {
    border-color: #a0a0a0;
    background: #a0a0a0;
}